---
---

// Override Cayman theme variables BEFORE import
$header-bg-color: #db684c;       // Your new primary colour (blue example)
$section-headings-color: #db684c;
$link-color: #db684c;

@import "{{ site.theme }}";
